[submodule "K8SOperators"]
	path = K8SOperators
	url = https://github.com/yashgulati-sudo/K8SOperators.git
[submodule "DataServicesLabs"]
	path = DataServicesLabs
	url = https://github.com/yashgulati-sudo/DataServicesLabs.git
[submodule "End2EndLabs"]
	path = End2EndLabs
	url = https://github.com/yashgulati-sudo/End2EndLabs.git
