# Example configfile (For Reference): Update the values accordingly in original configfile
PROVISION_KEYCLOAK:YES
KEYCLOAK_ADMIN_PASSWORD:xxxxxx
AWS_REGION:ap-southeast-1
AWS_KEY_PAIR:pse-cdp-ssh-keypair
CDP_DEPLOYMENT_TYPE:public
WORKSHOP_NAME:pse-cdpdemo
NUMBER_OF_WORKSHOP_USERS:5
WORKSHOP_USER_PREFIX:pse-cdpdemo-user
WORKSHOP_USER_DEFAULT_PASSWORD:changeme
LOCAL_MACHINE_IP:172.16.31.227/32
ENABLE_DATA_SERVICES:[CML,CDW,CDE]

#==================Optional Parameters===============#
## CDW
#CDW_VRTL_WAREHOUSE_SIZE:xsmall
#CDW_DATAVIZ_SIZE:viz-default

## CML
#CML_WS_INSTANCE_TYPE:m5.2xlarge
#CML_MIN_INSTANCES:1
#CML_MAX_INSTANCES:10
#CML_ENABLE_GPU:FALSE
#CML_GPU_INSTANCE_TYPE:g4dn.xlarge
#CML_MIN_GPU_INSTANCES:0
#CML_MAX_GPU_INSTANCES:10

## CDE
#CDE_SPARK_VERSION:SPARK3
#CDE_INSTANCE_TYPE:m5.2xlarge
#CDE_INITIAL_INSTANCES:10
#CDE_MIN_INSTANCES:10
#CDE_MAX_INSTANCES:40